body {
    background-image: url("ruslan-ruslan-AhAMJgq5QPM-unsplash.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: beige;
    position: relative;
    top: 14%;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 80px;
    color: rgb(209, 121, 33);
    margin-top: 10px;
    margin-bottom: 10px;
}
#count-elh{
    font-size: 50px;
    top: 0%;
    right: 50%;
}
#count-ela{
    font-size: 50px;
    position: relative;
    margin-top: 7%;
    right:0%;
}
button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #219b1d;
}
#increment-btn2 {
    background: #9b1a1a;
}
#save-btn {
    background: #1C7947;
}

#save-el {
    font-weight: bold;
}

